### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.Trash

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Home directory
/.CFUserTextEncoding
/.IdeaIC15
/.atom/.apm
/.atom/packages
/.bash_history
/.bash_sessions
/.cache
/.cassandra/cqlsh_history
/.cisco
/.docker
/.dropbox
/.eclipse
/.gem
/.gradle
/.groovy/groovysh.history
/.gvm
/.idea-build
/.ivy2
/.jenv
/.jmc
/.m2/repository
/.m2/wrapper
/.node-gyp
/.npm
/.oracle_jre_usage
/.palantir
/.rbenv
/.sqldeveloper
/.squirrel-sql
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.yarn-cache
/.yjp
/Applications
/Box Sync
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Snapshots
/VirtualBox VMs
/src
/tmp
