set bell-style none
set completion-ignore-case on
set editing-mode vi
set keymap vi
#set show-all-if-ambiguous on
set visible-stats on

# for vi mode
$if mode=vi

set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward # arrow up
"\e[B": history-search-forward  # arrow down
"\e[C": forward-char            # arrow right
"\e[D": backward-char           # arrow left
"\ep": yank-last-arg            # bind to Alt-p
Control-l: clear-screen

set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward # arrow up
"\e[B": history-search-forward  # arrow down
"\e[C": forward-char            # arrow right
"\e[D": backward-char           # arrow left
"\ep": yank-last-arg
Control-l: clear-screen
"\C-x\C-e": edit-and-execute-command

$endif
